<div class="image-wrapper radius-{{radius}} {{#if isZoomed}}zoomed{{/if}}">
  {{#unless disableSkeleton}}
  <div class="image-skeleton"></div>
  {{/unless}}
  <img 
    src="{${properties.src}}" 
    alt="{{alt}}" 
    class="image-element"
    style="width: {{width}}; height: {{height}};"
  />
</div>