<div class="card {{variant}} {{#if isHoverable}}hoverable{{/if}} {{#if isPressable}}pressable{{/if}}">
  {{#if showImage}}
  <div class="card-image">
    <div class="card-image-placeholder"></div>
  </div>
  {{/if}}
  <div class="card-body">
    <div class="card-title-placeholder"></div>
    <div class="card-description-placeholder"></div>
  </div>
</div>

<div class="card shadow">
  <div class="card-image">
    <div class="image-wrapper radius-none">
      <div class="image-skeleton"></div>
      <img
        src="https://images.unsplash.com/photo-1682687221038-404cb8830901"
        alt="Urban cityscape"
        class="image-element"
        style="width: 100%; height: auto;"
      />
    </div>
  </div>
  <div class="card-body">
    <h3 class="typography-h3">Urban Living</h3>
    <p class="typography-p">
      Explore vibrant city life and the dynamic energy of metropolitan areas
      worldwide.
    </p>
  </div>
</div>