<div class="base-btn base-btn--destructive base-btn--lg"></div>
<button
  class="base-btn base-btn--{{variant}}{{#if size}} base-btn--{{size}}{{/if}}"
  type="{{type}}"
  {{#if disabled}}
    disabled
    aria-disabled="true"
  {{/if}}

  {{label}}
</button>
</div>